@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    font-family: 'Lato';
}

#display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid black;
    padding: 0;
    box-sizing: border-box;
    font-size: 5rem;
    overflow: hidden;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color:  rgb(202, 202, 202);
    color: rgb(24, 24, 24);  
}

.calcButtons {
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(24, 24, 24);
    color: rgb(202, 202, 202);
    border: 1.5px solid black;
    box-sizing: border-box;
}


button:hover {
    cursor: pointer;
    background-color: rgb(105 24 24);
}

#calculator {
    display: grid;
    grid-template-rows: 9rem 1fr;
    box-sizing: border-box;
    border: 1px solid rgb(105 24 24);
    width: 32.4 rem;
}


#calculator_buttons {
    background-color: black;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 0.5px solid black;
}